
.dashboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
  max-width: 950px;
  padding: 40px;
  border-width: 3px;
  border-color: #333;
  border-style: solid;
  margin: auto;
  margin-top: 100px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.button-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  appearance: none;
}

select:focus {
  outline: none;
  border-color: #43ED3F;
  box-shadow: 0 0 5px rgba(67, 237, 63, 0.5);
}

.header {
  text-align: center;
  color: #333;
  padding-top: 10px;
  border-bottom: #333;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

/* CSS for the menu container */
.menu-container {
  display: inline-block;
  position: relative;
}

/* CSS for the floating menu */
.floating-menu {
  position: absolute;
  top: 100%;
  right: 10;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 999;
  width: 200px;
}

/* Style for the menu options */
.options-menu ul {
  list-style-type: none;
  padding: 0;
}

.options-menu li {
  margin: 5px 0;
  cursor: pointer;
}
.options-menu li:hover {
  background-color: #e0e0e0;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-element {
  margin: 20px 20px;
}
